@import url('https://fonts.googleapis.com/css?family=Roboto');

.body {
    font-family: 'Roboto', sans-serif !important;
}

.hide {
    display:none;
}

.table-text-sm {
    font-size:13px !important;
}